@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

/* Color variables */

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* General styles */

body {
    color: var(--dark-violet);
    font-family: 'Karla', sans-serif;
    margin: 0;
}

h1, 
h2, 
h3 {
    font-family: 'DM Serif Display', serif;
}

h1,
h2 {
    font-size: 4em;
    line-height: 1;
    position: relative;
    margin: 0;
    padding-top: 50px;
}

h3 {
    font-size: 1.5em;
}

p {
    opacity: 0.8;
}

.line-top::before {
    content: '';
    background-color: white;
    height: 1px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.line-violet::before {
    background-color: var(--dark-violet);
}

.btn {
    background-color: transparent;
    padding: 15px 25px;
    letter-spacing: 2;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
}

.btn-reverse {
    color: var(--dark-violet);
    border-color: var(--dark-violet);
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex > div {
    flex: 1;
}

.align-start {
    align-items: flex-start;
}

/* Nav styling */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-right: 40px;
}

nav li {
    margin-left: 30px;
}

nav li a {
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
    text-decoration: none;
}

/* Header styling */

header {
    background-color: var(--dark-violet);
    color: white;
    padding: 50px;
    position: relative;
    margin-bottom: 250px;
}

header::after {
    content: '';
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(images/bg-pattern-intro-right-desktop.svg);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

header::before {
    content: '';
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: url(images/bg-pattern-intro-left-desktop.svg);
    position: absolute;
    bottom: -55%;
    right: 0;
    height: 100%;
    width: 100%;
}

.pic {
    margin-bottom: -200px;
}

/* Section styling */

.bg-violet {
    background-color: var(--dark-violet);
    padding: 60px;
    position: relative;
    margin: 100px auto;
}

.bg-violet::before {
    content: '';
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.bg-violet h2 {
    color: white;
    font-size: 3em;
    padding: 0;
    width: 60%;
}

.tile {
    margin-top: 80px;
}

/* Footer styling */

footer {
    background-color: var(--very-light-gray);
    padding: 30px 0;
    position: relative;
}

footer::before {
    content: '';
    background-image: url('images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul.flex li{
    margin-left: 20px;
}

footer h4 {
    color: var(--dark-grayish-violet);
    text-transform: uppercase;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: var(--dark-violet);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.border-bottom {
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 30px;
}